<html>
    <head>
        <title>Movies</title>
    </head>
    <body>
        <h2> <%= title %> </h2>
        <ul>
            <% movies.map((movie) => { %>
                <li><%= movie.title %></li>
                <li><%= movie.rating %></li>
                <li><%= movie.review %></li>
            <% }) %>
        </ul>
        <a href="/new">ADD A NEW MOVIE</a>
    </body>
</html>
